@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans';
}

.selectForm {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.selectForm div {
  margin: 1em;
}

button {
  border-radius: 0.3em;
  background-color: darkblue;
  color: snow;
  border: none;
  padding: 0.5em;
  margin: 1em;
  font-size: 1em;
  font-weight: bold;
}

.hidden {
  display: none;
}

.header {
  padding: 1em 0em 1em 0em;
  background-color: teal;
  color: white;
}

h2 {
  font-size: 2em;
}

label {
  margin-right: 0.2em;
  font-size: 1em;
}

select {
  padding: 0.3em 0px 0.3em 0px;
  font-size: 1em;
  border-radius: 0.3em;
  border: 0.2px solid lightgrey;
}

@media screen and (min-width: 705px) {
  .selectForm {
      display:flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
  }
}

.dashboardTitle {
  text-transform: capitalize;
  padding: 0.3em;
  margin: 0.3em;
}

.reviewContainer {
  padding: 0.5em;
  margin: 1em;
}

.recall {
  background-color: #fff9ce;
  border: 0.5px dotted black;
  padding: 0.5em;
  margin: 1em;
}

.reviewDiv {
  border-top: 1px solid darkgray;
}

.vehiclePhoto {
  width: 90%;
  margin-left: 1em;
}

@media screen and (min-width: 950px) {
  .vehiclePhoto {
    width: 840px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.maintenanceItem {
  border: 1px solid lightblue;
  box-shadow: 10px 5px 5px lightgray;
  margin: 0.4em;
  padding: 0.4em;
}

.itemTitle {
  text-transform: capitalize;
}

.itemText {
  padding-left: 2em;
}

#filterMiles {
  padding: 0.3em 0px 0.3em 0px;
  font-size: 1em;
  border-radius: 0.3em;
  border: 0.2px solid lightgrey;
}

.navLink {
  text-decoration: none;
  padding: 1em;
}