.selectForm {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.selectForm div {
  margin: 1em;
}

button {
  border-radius: 0.3em;
  background-color: darkblue;
  color: snow;
  border: none;
  padding: 0.5em;
  margin: 1em;
  font-size: 1em;
  font-weight: bold;
}

.hidden {
  display: none;
}

.header {
  padding: 1em 0em 1em 0em;
  background-color: teal;
  color: white;
}

h2 {
  font-size: 2em;
}

label {
  margin-right: 0.2em;
  font-size: 1em;
}

select {
  padding: 0.3em 0px 0.3em 0px;
  font-size: 1em;
  border-radius: 0.3em;
  border: 0.2px solid lightgrey;
}

@media screen and (min-width: 705px) {
  .selectForm {
      display:flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
  }
}